@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* CSS Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    color: #141414;
}


/* header -> nav-bar */
header {
    position: fixed;
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    background-color: #FFFF;
}

.linha-header {
    margin: 0;
    height: 4px;
    background-color: #303030;
}

.header-realistic {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-realistic {
    width: 20%;
    margin-top: 6px;
}

nav {
    margin: 0 5%;
    width: 70%;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #303030;
    font-weight: 500;
}

nav a:hover {
    border-bottom: 4px solid #9A5665;
    font-weight: bold;
}

.btn-login-cadastro {
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    margin-left: 10vh;
    margin-right: 2vh;
    cursor: pointer;
}

.btn-login {
    background-color: #E9E9E9;
    margin-right: 0px;
    display: inline-block;
    padding: 6px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #303030;
    text-align: center;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #9A5665;
    color: white;
}

.btn-cadastro {
    display: inline-block;
    background-color: #CC9FA4;
    padding: 6px;
    width: 180px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #FFFF;
    text-align: center;
}

.btn-cadastro:hover {
    background-color: #9A5665;
}


/* Início */
.background-inicio{
    background-color: #E9E9E9;
    background-size: cover;
}

.principal-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9.5% 13% 3% 13%;
    /* padding: 30vh 70vh 40vh 70vh; */
}

.banner-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 13vh;
    background-color: #FFFF;
    height: 52vh;
    width: 50%;
}

.frase1-banner{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: small;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.frase2-banner{
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    font-weight: 800;
    margin-bottom: 1.5vh;
}

.frase3-banner{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 4vh;
}

.btn-confira {
    background-color: #9A5665;
    padding: 6px;
    width: 22vh;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFFF;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.btn-confira:hover {
    background-color: #CC9FA4;
}


/* Descubra */
/* - Parte1 */
.descubra{
    display: flex;
    padding: 3% 0 3% 0;
}

.texto-descubra{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.imgs-descubra{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 34%;
}

.imgs-descubra img{
    max-width: 42vh;
    padding-bottom: 2vh;
}

.titulo-descubra{
    width: 83%;
    border: 1px solid #cc9fa4;
    border-radius: 0px 20px 20px 0;
    background-color: #CC9FA4;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;    
    font-weight: 700;
}

.titulo-descubra p{
    margin: 3vh 0;
    margin-left: 25vh;
}


.paragrafo1{
    margin: 5vh 8vh 2vh 25vh;
    padding-right: 30vh;
    width: 83%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-align: justify;
}

.paragrafo2{
    margin: 3vh 8vh 5vh 25vh;
    padding-right: 30vh;
    width: 83%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.paragrafo3{
    margin: 5vh 8vh 2vh 25vh;
    padding-right: 30vh;
    width: 83%;
    font-size: 18px;
    font-weight: 500;
}

.paragrafo3 b{
    font-weight: 800;
}

.paragrafo4{
    padding: 3vh 5vh 3vh 25vh;
    width: 83%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    font-size: 16px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    border-radius: 0px 20px 20px 0;
    margin-bottom: 3vh;
}

.btn-cadastre-se {
    width: 25vh;
    background-color: #9A5665;
    padding: 6px;
    margin-left: 60%;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.btn-cadastre-se a{
    text-decoration: none;
    color: #FFFF;
}

.btn-cadastre-se:hover {
    background-color: #CC9FA4;
}


/* Descubra */
/* - Parte2 */
.descubra-parte2{
    background-color: #E9E9E9;
    background-size: cover;
}

.texto-descubra-parte2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container1-texto-descubra-parte2{
    width: 45%;
}

.container2-texto-descubra-parte2{
    width: 55%;
}

.titulo-descubra-parte2{
    margin-top: 6vh;
    width: 83%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;    
    font-weight: 700;
}

.linha-descubra-parte2{
    margin: 0;
    height: 4px;
    background-color: #9A5665;
    margin: 1.5vh 0;
}

.frase-descubra-parte2{
    font-size: 3vh;
    font-weight: 600;
    color: #9A5665;
    text-align: end;
    margin-right: 28vh;
    font-family: 'Montserrat', sans-serif;
}

.cards-descubra-parte2{
    display: flex;
    justify-content: center;
}

.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.img-card1, .img-card2, .img-card3{
    max-width: 290px;
}

.descricao-card1, .descricao-card2, .descricao-card3{
    max-width: 290px;
    background-color: #FFFF;
    border-radius: 0 0 30px 30px;
    height: 18vh;
    padding: 5vh 7vh;
}

.descricao-card1, .descricao-card2, .descricao-card3 p{
    text-align: center;
    font-weight: 600;
    font-size: 3vh;
}


/*Sobre mim*/
.sobre-mim{
    background-color: #FFFF;
    padding: 3.5% 14%;
}

.titulo-sobre-mim{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;    
    font-weight: 700;
}

.conteudo-sobre-mim{
    margin: 1.5vh 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.principal-sobre-mim{
    width: 75%;
}

.img-sobre-mim{
    width: 35%;
}

.nome-sobre-mim{
    margin-left: 25vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: small;
    margin-bottom: 1.5vh;
    color:#9A5665
}

.linha-sobre-mim{
    margin-left: 25vh;
    height: 4px;
    background-color: #9A5665;
}

.texto-sobre-mim{
    display: flex;
    flex-direction: column;
    padding: 4vh 13vh;
    background-color: #E9E9E9;
    height: 43vh;
    border-radius: 20px 0 0 20px;
}

.texto-sobre-mim p{
    margin-top: 5vh;
    font-weight: 600;
    text-align: justify;
    font-size: large;
}


/*Contato*/
.contato{
    background-color: #E9E9E9;
    background-size: cover;
    width: 100%;
    padding: 5% 14%;
    display: flex;
    align-items: center;
}

.conteudo-contato-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questionamento-contato{
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 2.5vh;
}

.chamativo-contato{
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;    
    font-weight: 800;
}

.conteudo-contato-right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-form-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
    padding: 5%;
    border: solid 1px #FFFF;
    border-radius: 30px;
}

.nome-sobrenome-form-contato{
    display: flex;
    flex-direction: row;
}

.nome-form-contato{
    width: 50%;
    margin-right: 1vh;
}

.sobrenome-form-contato{
    width: 50%;
    margin-left: 1vh;
}

.form-geral{
    display: flex;
    flex-direction: column;
    padding: 2vh 1vh;
}

.label-geral{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;  
    font-weight: 600;
    margin-bottom: 1vh;
}

.input-geral{
    border-style: none;
    background-color: #E9E9E9;
    border-radius: 10px;
    width: 100%;
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 2vh;
}

textarea{
    border-style: none;
    background-color: #E9E9E9;
    border-radius: 10px;
    width: 100%;
    height: 12vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 2vh 2vh;
    resize: none;
    outline: none;
}


textarea::-webkit-scrollbar{
    width: 0px;
}

.btn-enviar{
    display: flex;
    justify-content: end;
}

button{
    background-color: #9A5665;
    border-style: none;
    padding: 6px;
    width: 22vh;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    color: #FFFF;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

button:hover{
    background-color: #CC9FA4;
}

footer{
    background-color: #CC9FA4;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: center;
    padding: 8vh 0;
}

.creditos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    padding-top: 2vh;
}

.direitos{
    font-size: 2.3vh;
    padding-top: 1vh;
}


